
<div class="p-0 d-flex navbar-container ">

  
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>?</mat-icon>
        <span >Default Question</span>
      </button>
      <button mat-menu-item  (click)="navToPatientEditor()"  >
        <mat-icon>create</mat-icon>
        <span  >New Patient</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>