<div class="p-0 d-flex navbar-container  ">

  <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!isAuth()"
    aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navToViewPatient()" *ngIf="isAuth()">
      <mat-icon>home</mat-icon>
      <span>{{'Home' | translate}}</span>
    </button>
    <button mat-menu-item (click)="navToDefaultQuestion()" *ngIf="isDoctor && isAuth()">
      <mat-icon>?</mat-icon>
      <span>{{'DefaultQuestion' | translate }}</span>
    </button> 
    <button mat-menu-item (click)="openPatientOrDoctorEditor()" *ngIf="isAuth()">
      <mat-icon>create</mat-icon>
      <span>{{'New'|translate}} {{ patientOrDoctor | translate }}</span>
    </button>
    <button mat-menu-item (click)="logout()" *ngIf="!inLogin">
      <mat-icon>logout</mat-icon>
      <span>{{'Logout' | translate}}</span>
    </button>
  </mat-menu>

  <button (click)="enLanguage()"> english </button>
  <button (click)="heLanguage()" > hebrew </button>

</div>