<mat-accordion *ngIf="medications">
  <mat-expansion-panel *ngFor="let medication of medications">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ medication.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ medication.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex justify-content-end">
      <button
        mat-mini-fab
        color="primary"
        class="mr-2"
        aria-label="Example icon button with a delete icon "
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-mini-fab
        color="warn"
        class="ml-2"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
