
<mat-card class="d-flex flex-column shadow p-0">

    <mat-card-header class="text-center f-2-5 white-font blue-color ">
        <div class="d-flex col justify-content-center mt-2 mb-2 p-3">
            {{ headline() }} Question
        </div>
    </mat-card-header>


    <mat-tab-group mat-stretch-tabs [selectedIndex]="selected.value"
        (selectedIndexChange)="selected.setValue($event)">

        <mat-tab *ngFor="let language of languages; let i = index;" [label]="language">

            <mat-form-field class="full-width text-center pl-5 pr-5 mt-4 mb-3">
                <label class="display-4 f-m "> Enter Question in {{language}}</label>
                <input matInput [(ngModel)]="langugeDictionary[language]">
            </mat-form-field>

        </mat-tab>
    </mat-tab-group>
    
    <div class="text-center ml-4 mr-4 ">
        <label id="example-radio-group-label" class="display-4 f-m"> Select Type Of Question</label> <br>
        <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="question.questionType">
            <mat-radio-button color="primary" value="Binary" class="m-2">Binary</mat-radio-button>
            <mat-radio-button color="primary" value="Regular" class="m-2">Regular</mat-radio-button>
            <mat-radio-button color="primary" value="Quantity" class="m-2">Quantity</mat-radio-button>
        </mat-radio-group>
    </div>


    <div *ngIf=" question.questionType === 'Quantity'" class="d-flex justify-content-center mb-4 ">
        <mat-card class="col-5 d-flex justify-content-center blue-shadow p-0 ">
            <mat-form-field class=" text-center col-6">
                <input matInput placeholder="min" type="number" [(ngModel)]="question.min">
            </mat-form-field>
            <mat-form-field class=" text-center col-6">
                <input matInput placeholder="max" type="number" [(ngModel)]="question.max">
            </mat-form-field>
        </mat-card>
    </div>


    <div class="text-center m-3">
        <button mat-raised-button color="warn"  *ngIf="fromPopUp"  class="mr-3" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="sendQuestion()">Submit</button>
      
    </div>

</mat-card>