<div class="d-flex justify-content-center">
    <div class="col-4 mt-5 text-center">
        <mat-card id="card" class="p-0 shadow" >

            <mat-card-header class="text-center f-2-5 white-font blue-color " >
                <div class="d-flex col justify-content-center mt-2 mb-2 p-3">
                    Login
                </div>
            </mat-card-header>


            <mat-card-content class="mt-4">
                <mat-form-field class="semi-width text-center">
                    <input matInput placeholder="Username" [(ngModel)]="doctor.username" >
                
                </mat-form-field><br />

                <mat-form-field class="semi-width text-center from">
                    <input matInput placeholder="Password" [(ngModel)]="doctor.password">
                </mat-form-field><br />

                <span *ngIf="msg" >{{msg}}</span>
                <button (click)="login()" class="shadow mt-3 mb-5 semi-width"  mat-raised-button color="primary">Submit</button>

            </mat-card-content>
        </mat-card>

    </div>
</div>

<!-- <button    class="btn primary medium mt-3 mb-5 semi-width" >Submit</button> -->
