<div class="d-flex justify-content-center p-4">
    <div class="col-5 pr-0">
        <app-question-update-create *ngIf="question && question.creatorID"
            [question]="question"
            [questionNeedToUpdate]="questionNeedToUpdate"
            (sendQuestionClicked)="createDefaultQuestion($event)">
        </app-question-update-create>
    </div>

    <div class="col pl-0">
        <mat-card class="d-flex flex-column shadow p-0 ml-4">
            <mat-card-header class="text-center f-2-5 white-font blue-color ">
                <div class="d-flex col justify-content-center mt-2 mb-2 p-3">
                    Default Questions List
                </div>
            </mat-card-header>
            <mat-tab-group mat-stretch-tabs>
                <mat-tab *ngFor="let language of languages; let index = index" [label]="language">
                    <app-questions 
                    [patientLanguage]="language" 
                    [isNotDefaultPage]="false" 
                    [questions]="questions"
                    (deleteClicked)="deleteQuestion($event)"
                    (editClicked)="editQuestion($event)"
                    >
                    </app-questions>
                </mat-tab>
            </mat-tab-group>

        </mat-card>
    </div>
</div>