<div class="d-flex justify-content-center mt-4 ">
    <mat-card class="col-10 p-0 ">
        <div class="d-flex justify-content-center ">
            <div class="col text-center p-0">
                <mat-card class="shadow">


                    <button mat-mini-fab color="accent"  class="float-left" (click)= "clear()">
                        <mat-icon>undo</mat-icon>
                    </button>

                    <mat-form-field class=" text-center col-3 ">
                        <mat-label>{{'enter_phone_or_name' | translate}}</mat-label>
                        <input matInput placeholder="Example  050-2347865" [(ngModel)]="searchKey">
                    </mat-form-field>

                    <button mat-mini-fab color="accent" (click)= "search()">
                        <mat-icon>search</mat-icon>
                    </button>

                </mat-card>
            </div>
        </div>

        <app-doctors (deleteClicked)="deleteDoctor($event)"  (editClicked)="editDoctor($event)" class="p-5" [doctors]="doctors"></app-doctors>

    </mat-card>
</div>