<div class="d-flex justify-content-center mt-4 ">
    <mat-card class="col-10 p-0 ">
        <div class="d-flex justify-content-center ">
            <div class="col text-center p-0">
                <mat-card class="shadow">

                    <mat-form-field class=" text-center col-3 ">
                        <mat-label>{{'enter_phone_or_name' | translate}}</mat-label>
                        <input matInput placeholder="Example  050-2347865">
                    </mat-form-field>

                    <button mat-mini-fab color="primary">
                        <mat-icon>search</mat-icon>
                    </button>

                </mat-card>
            </div>
        </div>

        <app-doctors (deleteClicked)="deleteDoctor($event)"  (editClicked)="editDoctor($event)" class="p-5" [doctors]="doctors"></app-doctors>

    </mat-card>
</div>