<div class="d-flex flex-column p-0 justify-content-center">
  
 
    <h1 class="f-2-5 text-center  blue-color white-font p-3" >
      {{ pageTitle1 | translate }} {{"  "}} {{ pageTitle2 | translate }}
  </h1>



  <div class="col d-flex flex-column mt-3" *ngIf="medicalAddition">
    <div class="d-flex">
      <mat-form-field class="full-width text-center">
        <mat-label>{{'Name'| translate}}</mat-label>
        <input [(ngModel)]="medicalAddition.name" matInput />
      </mat-form-field>
    </div>

    <div class="d-flex">
      <mat-form-field class="full-width text-center">
        <mat-label>{{'description' | translate}}</mat-label>
        <input [(ngModel)]="medicalAddition.description" matInput/>
      </mat-form-field>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="col-3">
      <button mat-raised-button color="warn"  (click)="close()">
        {{'Cancel' | translate}}
      </button>
    </div>
    <div class="col-3">
      <button mat-raised-button color="primary" (click)="submitForm()">
        {{'Submit' | translate}}
      </button>
    </div>
  </div>
</div>
