<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{question.questionType}}
      </mat-panel-title>
      <mat-panel-description *ngIf="question">
        {{questionDisplay()}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex align-contet-start" >
      <div class="col-3 text-left">{{question.timestemp | date}} </div> 
      <div class="col-6" ></div>
      <div class="col-3 text-right">
        <button   class="btn primary small mr-2 "><mat-icon>edit</mat-icon></button>
        <button class="btn redanger small"><mat-icon>delete</mat-icon></button> 
    </div>
    </div>
    

    
  </mat-expansion-panel>
</mat-accordion>