<mat-accordion *ngIf="question">
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{question.questionType}}
      </mat-panel-title>
      <mat-panel-description>
        {{questionDisplay()}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex align-contet-start">
      <div class="col-3 m-3  ">{{ question.timestamp | date}} </div>
      <div class="col-6"></div>
      <div class="col-3 text-right">


        <button mat-mini-fab [disabled]="question.isDefault && isNotDefaultPage" color="primary" class="mr-2"
          (click)="edit()">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab  color="warn" class="ml-2"
          (click)="delete()" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<!-- aria-label="Example icon button with a delete icon " -->