<mat-accordion *ngIf="question">
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ question.questionType | translate}}
      </mat-panel-title>
      <mat-panel-description>
        {{questionDisplay()}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex align-contet-start">
      <div class="col-3 m-3  ">{{ question.timestamp | date}} </div>
      <div class="col-5"></div>
      <div class="col-4 d-flex justify-content-end">

        <!-- TODO: Put Equal Width to all buttons -->     
          <button mat-mini-fab color="accent" *ngIf="question.isDefault && !isNotDefaultPage" class="mr-2"  (click)="showGraphs()">
            <mat-icon>bar_chart</mat-icon>
          </button>

        <button mat-mini-fab [disabled]="question.isDefault && isNotDefaultPage"  class="mr-2" color="primary" (click)="edit()">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab color="warn" class="mr-2" (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>

      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<!-- aria-label="Example icon button with a delete icon " -->