<div class="d-flex justify-content-center mt-4 ">
    <mat-card class="col-10 p-0 ">


        <div class="d-flex justify-content-center ">
            <div class="col text-center p-0">
                <mat-card class="shadow">

                    <mat-form-field class=" text-center col-3 ">
                        <mat-label>Enter phone or name</mat-label>
                        <input matInput placeholder="Example  050-2347865"  [(ngModel)]="searchKey">
                    </mat-form-field>

                    <button mat-mini-fab color="primary"  (click)="filter()" >
                        <mat-icon>search</mat-icon>
                      </button>

                </mat-card>
            </div>
        </div>


                   
            <app-patients class="p-5" [patients]="patients"></app-patients>
       

     
    </mat-card>
</div>