
<mat-card class="d-flex flex-column shadow p-0">

  <mat-card-header class="text-center f-2-5 white-font blue-color mb-3 ">
      <div class="d-flex col justify-content-center mt-2 mb-3 p-3">
          {{ data.headline}}
      </div>
  </mat-card-header>

<div  *ngIf="arr" >
    <ngx-charts-line-chart

    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="arr"

      >
    </ngx-charts-line-chart>

</div>


</mat-card>






<!-- (select)="onSelect($event)"
(activate)="onActivate($event)"
(deactivate)="onDeactivate($event)" -->


<!-- [view]="view"
[scheme]="colorScheme"
[legend]="legend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxis]="xAxis"
[yAxis]="yAxis"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[timeline]="timeline"
[results]="arr" -->