<div class="d-flex justify-content-center">



  <div class="col-3 mt-5 text-center">
    <mat-card *ngIf="patient" class="shadow">
      <div class="border-bottom">
        <mat-card-title class="p-3 display-4 f-2-5">
          {{ patient.firstName }} {{ patient.lastName }}
        </mat-card-title>
      </div>

      <mat-card-content>
        <mat-list>
          <mat-list-item> {{ patient.phoneNumber }} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{ patient.language }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{ patient.startHour }}:00 -
            {{ patient.endHour }}:00</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="p-2" > 
              <div class="d-flex justify-content-end full-width" >
                <button mat-mini-fab color="accent" class="col-2 ml-2" >  <mat-icon>bar_chart</mat-icon> </button>
                <button mat-mini-fab color="primary" class="col-2 ml-2" (click)="editPaient()"  >  <mat-icon>edit</mat-icon> </button>      
                <button mat-mini-fab color="warn" class="col-2 ml-2" (click)="deletePaient()"  >  <mat-icon>delete</mat-icon> </button>
              </div>
              
            </mat-list-item>
          
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-7 mt-5">
    <mat-card *ngIf="patient" class="shadow">
      <div class="d-flex justify-content-center">
        <span class="col-1"></span>

        <span class="col-1"></span>
      </div>

      <mat-tab-group mat-stretch-tabs class="m-2">
        <mat-tab label="Questions">
          <div class="d-flex flex-column justify-content-center">
            <div class="d-flex  justify-content-start">
              <button class=" col-4  mt-3 mb-3 shadow  btn btn-primary " mat-raised-button (click)="addNewQuestions()">
                New Question
              </button>
            </div>

            <app-questions (deleteClicked)="deleteQuestion($event)" (editClicked)="editQuestion($event)"
              [patientLanguage]="patient.language" [questions]="patient.questions" [isNotDefaultPage]="true">
            </app-questions>
          </div>
        </mat-tab>

        <mat-tab label="Medications">
          <div class="d-flex flex-column">
            <div class="d-flex  justify-content-center ">
              <button class="mt-3 mb-3 btn btn-primary col-4 shadow "mat-raised-button (click)="addNewMedications()">
                New Medications
              </button>

            </div>


            <app-medications (editClicked)="editMedication($event)"  (deleteClicked)="deleteMedication($event)" [medications]="patient.medications"></app-medications>
          </div>
        </mat-tab>

        <mat-tab label="Treatments">
          <div class="d-flex flex-column">
            <div class="d-flex  justify-content-end ">
              <button (click)="addNewTreatments()" mat-raised-button
              class="mt-3 mb-3 btn btn-primary col-4 shadow ">
                New Treatments
              </button>
            </div>

            <app-medications (editClicked)="editMedication($event)"  (deleteClicked)="deleteMedication($event)" [medications]="patient.treatments"></app-medications>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>


<!-- <button   mat-raised-button color="primary">Detail</button> -->