<div class="d-flex justify-content-center">
  <div class="col-3 mt-5 text-center">
    <mat-card *ngIf="patient" class="shadow">
      <div class="border-bottom">
        <mat-card-title class="p-3 display-4 f-2-5">
          {{ patient.firstName }} {{ patient.lastName }}
        </mat-card-title>
      </div>

      <mat-card-content>
        <mat-list>
          <mat-list-item> {{ patient.phoneNumber }} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{ patient.language }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            >{{ patient.startHour }}:00 -
            {{ patient.endHour }}:00</mat-list-item
          >
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-7 mt-5">
    <mat-card *ngIf="patient" class="shadow">
      <div class="d-flex justify-content-center">
        <span class="col-1"></span>

        <span class="col-1"></span>
      </div>

      <mat-tab-group mat-stretch-tabs class="m-2">
        <mat-tab label="Questions">
          <div class="d-flex flex-column">
            <button
              class="d-flex shadow justify-content-center btn btn-primary square"
              mat-raised-button
            >
              New Question
            </button>
            <app-questions
              (deleteClicked)="deleteQuestion($event)"
              [patientLanguage]="patient.language"
              [questions]="patient.questions"
            ></app-questions>
          </div>
        </mat-tab>

        <mat-tab label="Medications">
          <div class="d-flex flex-column">
            <button
              class="d-flex shadow justify-content-center btn btn-primary square"
              (click)="addNewMedications()"
            >
              New Medications
            </button>

            <app-medications
              [medications]="patient.medications"
            ></app-medications>
          </div>
        </mat-tab>

        <mat-tab label="Treatments">
          <div class="d-flex flex-column">
            <button
              (click)="addNewTreatments()"
              class="d-flex shadow justify-content-center btn btn-primary square"
            >
              New Treatments
            </button>
            <app-medications
              [medications]="patient.treatments"
            ></app-medications>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>

<!-- <button   mat-raised-button color="primary">Detail</button> -->
