<div   class="d-flex justify-content-center">


    <div class="col-3 mt-5 text-center">

        <mat-card *ngIf="patient">
            <div class="border-bottom ">
                <mat-card-title>{{patient.firstName}}  {{patient.lastName}}  </mat-card-title>
            </div>

            <mat-card-content>
                <mat-list>
                    <mat-list-item>  {{patient.phoneNumber}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>{{patient.language}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>{{patient.startHour}}:00 - {{patient.endHour}}:00</mat-list-item>
                  </mat-list>
            </mat-card-content>
        </mat-card>

    </div>

    <div class="col-8  mt-5 text-center">

        <mat-card *ngIf="patient">
            <mat-tab-group class="m-2">
                <mat-tab label="Questions"> <app-questions [patientLanguage]="patient.language"   [questions] = "patient.questions"></app-questions></mat-tab>
                <mat-tab label="Medications"> <app-medications [medications] = "patient.medications" ></app-medications> </mat-tab>
                <mat-tab label="Treatments"> <app-treatments  [treatments] = "patient.treatments" ></app-treatments> </mat-tab>
            </mat-tab-group>

        </mat-card>

    </div>


</div>