/* You can add global styles to this file, and also import other style files */

$dashboard-blue-btn-color: #4b79ff;
$white-color: white;
$off-white: #f9f9f9;
$grey: #e0e0e0;
$optional-white: #f2f3f8;
$red-color: #993f3f;
$blue-mat: #6a1b9a;
$red-mat: #f44336;

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  // background-image: url("https://image.freepik.com/free-photo/doctor-holding-stethoscope_23-2147822716.jpg");
  // background-repeat: no-repeat;
  // background-size: 100%;
  background-color: $optional-white;
}

.example-stretched-tabs {
  max-width: 800px;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #fff2e0;
}

.dialog-width {
  width: 68%;
}
.small-width{
  width: 32%;
}
.full-width {
  width: 100%;
}

.semi-width {
  width: 70%;
}

.f-m {
  font-size: 1.2rem;
}

.f-2 {
  font-size: 1.9rem;
}

.f-1-5 {
  font-size: 1.5rem;
}

.f-s {
  font-size: 1rem;
}

.f-2-5 {
  font-size: 2.5rem;
}

.white-font {
  color: $white-color;
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3) !important;
}

.blue-color {
  background-color: $dashboard-blue-btn-color;
  box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.3) !important;
}

.red-color {
  background-color: $red-mat;
  box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.3) !important;
}

.blue-shadow {
  box-shadow: 3px 3px 8px 2px rgba(75, 121, 255, 0.5) !important;
}


.mat-radio-inner-circle {
  background-color: $dashboard-blue-btn-color !important;
}

.mat-ink-bar._mat-animation-noopable {
  background-color: $dashboard-blue-btn-color !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: inherit !important;
}

.align-end{
  justify-content: flex-end !important;
}



.btn-sm {
  padding: 4px 9px;
}

.mat-raised-button.mat-warn {
  color: $white-color;
  background-color: $red-mat;
}

.mat-raised-button.mat-warn:hover {
  color: $red-mat;
  background-color: $white-color;
}

.mat-raised-button.mat-primary {
  color: $white-color;
  background-color: $dashboard-blue-btn-color;
}

.mat-raised-button:hover {
  color: $dashboard-blue-btn-color;
  background-color: $white-color;
}

.mat-mini-fab.mat-primary {
  color: $white-color;
  background-color: $dashboard-blue-btn-color;
}

.mat-mini-fab:hover {
  color: $dashboard-blue-btn-color;
  background-color: $white-color;
}

.mat-mini-fab.mat-warn:hover {
  color: $red-mat;
  background-color: $white-color;
}

.btn {
  border-radius: 20px !important;
  border-color: $dashboard-blue-btn-color !important;

  &.large {
    padding: 9px 20px;
  }

  &.medium {
    padding: 6px 15px;
  }

  &.small {
    padding: 4px 9px;
  }

  &.primary {
    background-color: $dashboard-blue-btn-color;
    color: $white-color;

    &:hover {
      color: $dashboard-blue-btn-color;
      background-color: $white-color;
    }
  }

  &.secondary {
    background-color: $white-color;
    color: $dashboard-blue-btn-color;

    &:hover {
      color: $white-color;
      background-color: $dashboard-blue-btn-color;
    }
  }

  &.redanger {
    color: $white-color;
    background-color: $red-color;

    &:hover {
      background-color: $white-color;
      color: $red-color;
    }
  }

  &:hover {
    transition: background-color 0.5s ease;
    transition: color 0.3s ease;
  }

  &.square {
    border-radius: 10px !important;
  }
}