

<mat-card class="shadow" >


    <div class="border-bottom">
        <mat-card-title class="p-3 display-4 f-2 text-center">{{patient.firstName}}  {{patient.lastName}}  </mat-card-title>
    </div>
    <mat-card-content class="mt-3" >

        <p class="f-m display-4">  {{patient.phoneNumber}}</p>       
        <p class="f-m display-4"> {{patient.language | translate}}</p>
        <p class="f-m display-4"> Last seen {{ patient.lastSeen | date}} </p>

    </mat-card-content>

    <mat-card-actions class="text-right mr-2">
        <button   *ngIf="!fromPopUp" (click)="navigateToPatientProfile()" mat-raised-button color="primary">{{ 'detail' | translate}}</button>
        <button   *ngIf="fromPopUp" (click)="addPatientToGraph()" mat-raised-button [color]="color">add</button>
      
    </mat-card-actions>
</mat-card>

<!-- <button  class="btn primary medium"></button> -->